.icon {
  display: inline;
}

.icon img {
  margin: 10px;
  width: 70px;
  height: 70px;
  transition: all .1s ease-in-out;
}

.icon img:hover {
  transform: scale(1.5);
  transform-origin: bottom;
}

.iconName {
  background: black;
/*  background: rgba(0, 0, 0, 0.75);*/
  position: absolute;
  bottom: 100px;
  margin: 0 auto;
  display: none;
  width: auto;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 6px;
  -webkit-border-radius: 6px;
  color: #fff;
}

.icon img:hover .iconName {
  display: block;
}